#foto {
    width: 200px; 

}

ul{
    list-style-type: none;
    line-height: 1.5;
}

.container {
    width: 80%;
    overflow: hidden; /* Para limpiar el float */
    margin: auto;
}

.iconos {
    width: 40px; 
    margin-right: 10px;
}

#datosContacto{
    text-align: justify;
    width: 50%;
    float: left;
}

#barraLateral{
    text-align: justify;
    width: 50%;
    float: left;
    background-color: rgb(224, 223, 223);
    margin-top: 50px;
}

#barraInterior{
    width: 80%;
    margin: auto;
}

footer{
    background-color: rgb(224, 223, 223);
    width: 70%;
    margin: auto;
}

#contFoto{
    border: 1px solid white;
    padding: 10px;
    display: inline-block;
    background-color: white;
}