/* lista de cotacto */
#lista-contacto{
    list-style-type: none;
    line-height: 1.5;
}

#datosContacto{
    text-align: justify;
    width: 50%;
    float: left;
}


/* foto */
#foto {
    width: 200px; 
}

#marco-foto{
    border: 1px solid white;
    padding: 10px;
    display: inline-block;
    background-color: white;
    border-radius: 5px;
}

#cont-foto{
    text-align: center;
    padding-top: 10px;
}

/* body */

a{
    color: black;
}

.container {
    width: 80%;
    overflow: hidden; /* Para limpiar el float */
    margin: auto;
}

#barraLateral{
    text-align: justify;
    width: 40%;
    float: left;
    background-color: rgb(224, 223, 223);
    margin-top: 50px;
    border-radius: 5px;
}

#barraInterior{
    width: 70%;
    margin: auto;
}


/* footer */

footer{
    background-color: rgb(224, 223, 223);
    width: 80%;
    margin: auto;
    text-align: center;
}

.iconos {
    width: 75px; 
    margin: 0 15px;
}

#competencias{
    padding-top: 0.1em;
}

#iconos-lenguajes{
    background-color: blueviolet;
    width: auto;
}

#lista-iconos{
    list-style-type: none;
    display: flex; /* Utiliza flexbox para colocar los elementos en línea */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    margin-bottom: 2px;
}
