/* lista de cotacto */
#lista-contacto{
    list-style-type: none;
    line-height: 1.5;
}

#datosContacto{
    text-align: justify;
    width: 52%;
    /* background-color: azure; */
}


/* foto */
#foto {
    width: 200px; 
}

#marco-foto{
    border: 1px solid white;
    padding: 10px;
    display: inline-block;
    background-color: white;
    border-radius: 5px;
}

#cont-foto{
    text-align: center;
    padding-top: 10px;
}

/* body */

a{
    color: black;
}

.container {
    width: 80%;
    overflow: hidden; /* Para limpiar el float */
    margin: auto;
    /* background-color: beige; */
}

#barraLateral{
    text-align: justify;
    width: 45%;
    float: right;
    background-color: rgb(224, 223, 223);
    border-radius: 5px;
}

#barraInterior{
    width: 70%;
    margin: auto;
}

#experiencia-laboral{
    margin-top: 20px;
    width: 52%;
    /* background-color: aliceblue; */
}

/* desplegables */

#hiberus-descripcion{
    display: none;
}

#capgemini-SFCC-descripcion{
    display: none;
}

#capgemini-java-descripcion{
    display: none;
}

/* footer */

footer{
    background-color: rgb(224, 223, 223);
    width: 80%;
    margin: auto;
    text-align: center;
}

.iconos {
    width: 75px; 
    margin: 0 15px;
}

#competencias{
    padding-top: 0.1em;
}

#iconos-lenguajes{
    width: auto;
}

#lista-iconos{
    list-style-type: none;
    display: flex; /* Utiliza flexbox para colocar los elementos en línea */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    margin-bottom: 2px;
}

.icon-list {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    list-style: none;
    padding: 0;
}

/* fechas */

.fa-solid{
    color: black;
    font-size: 16px;
}

/* Estilo para cada elemento de la lista */
.icon-list li {
    text-align: center; /* Alinear el contenido del li al centro */
    margin: 10px; /* Espacio entre los íconos */
}

/* Media query para dispositivos con ancho menor a 768px */
@media (max-width: 768px) {

    .container{
        width: 90%;
    }

    #datosContacto{
        float: none;
        width: 100%;
    }

    #barraLateral{
        float: none;
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    #lista-iconos{
        display: flex;
        flex-direction: column;
    }

    #experiencia-laboral{
        width: 100%;
    }
    
}
  